body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Impact', sans-serif;
  letter-spacing: 1px;
}

.navbar-brand {
  font-family: 'Impact', sans-serif;
  font-size: 1.5rem;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: #ff416c;
  border-color: #ff416c;
}

.btn-primary:hover {
  background-color: #ff4b2b;
  border-color: #ff4b2b;
}
